{{{prepend}}}
<h3>Check affected projects</h3>
<ul>
{{#each statuses}}
{{#unless this.private}}
<li>
  {{#if this.readyToPublish}}🟢{{else}}🚫{{/if}} {{{this.project}}}: <code>{{{this.name}}}@{{{this.version}}}</code>
  {{#unless this.readyToPublish}}
  <ul>
    {{#if this.isPublished}}
      <li>Version in <code>package.json</code> file is already published</li>
    {{/if}}
    {{#unless this.changelogUpdated}}
      <li>Version is not defined in <code>CHANGELOG.md</code> file</li>
    {{/unless}}
    {{#unless this.sonarConfigUpdated}}
      <li>Version in </code>sonar-project.properties</code> file is wrong</li>
    {{/unless}}
  </ul>
  {{/unless}}
</li>
{{else}}
<li>⚪ {{{this.project}}}: Private package</li>
{{/unless}}
{{/each}}
</ul>
{{#if ok}}
<strong>🎉 All affected projects are upgraded</strong>
{{else}}
<strong>😞 Affected projects are not upgraded properly</strong>
{{/if}}
