|<h3>✏️ Changes impact</h3>
{{#if affected.length}}
<ul>
{{#if applications.length}}
<li>Applications: {{#each applications}}{{#if @index}}, {{/if}}<code>{{{this}}}</code>{{/each}}</li>
{{/if}}
{{#if libraries.length}}
<li>Libraries: {{#each libraries}}{{#if @index}}, {{/if}}<code>{{{this}}}</code>{{/each}}</li>
{{/if}}
{{#if tests.length}}
<li>Tests: {{#each tests}}{{#if @index}}, {{/if}}<code>{{{this}}}</code>{{/each}}</li>
{{/if}}
</ul>
<strong>Total: {{affected.length}} affected projects</strong> 
{{else}}
<strong>No affected projects found</strong>
{{/if}}
